<div style="overflow-x: hidden">
  <h1 class="text-center">Portfolio</h1>
  <hr/>
  <ul class="list-group">
    <li class="list-group-item" [hidden]="!loading" style="height: 200px;">
      <div class="text-center">
        <ngx-spinner
          bdColor="rgba(0,0,0,0)"
          size="medium"
          color="#f00"
          type="ball-scale-multiple"
          [fullScreen]="false">
        </ngx-spinner>
        <p style="font-size: 20px;">Loading...</p>
      </div>
    </li>
    <li class="list-group-item" *ngFor="let item of portfolioItems; let i = index" [ngClass]="{ 'bg-light': !(i%2) }">
      <app-portfolio-item [(portfolioItem)]="item"></app-portfolio-item>
    </li>
  </ul>
</div>