<div class="container">
  <div class="row">
    <div class="col text-right"><h1>Dylan</h1></div>
    <div class="col text-center m-0 p-0"><img width="64" height="64" src="/assets/brand.png"></div>
    <div class="col text-left"><h1>Harrison</h1></div>
  </div>
</div>
<h6 class="text-center mt-3">Software Engineering and Web Design</h6>
<h4 class="text-center">
  <a class="fa fa-linkedin m-3" href="https://www.linkedin.com/in/dylan-harrison-087558155"></a>
  <a class="fa fa-github m-3" href="https://github.com/DylanHarrisonGithub"></a>
  <a class="fa fa-wordpress m-3" href="https://dylansamcsblog.wordpress.com"></a>
  <a class="fa fa-envelope m-3" href="mailto:dharrsn@gmail.com"></a>
</h4>
