<ul class="list-group">
  <li class="list-group-item" *ngIf="loading" style="height: 200px;">
    <div class="text-center">
      <ngx-spinner
        bdColor="rgba(0,0,0,0)"
        size="medium"
        color="#f00"
        type="ball-scale-multiple"
        [fullScreen]="false">
      </ngx-spinner>
      <p style="font-size: 20px;">Loading...</p>
    </div>
  </li>
  <div *ngFor="let item of portfolioItems; let i = index">
    <li class="list-group-item">
      <div class="row">
        <div class="col">
            <app-portfolio-item [portfolioItem]="item"></app-portfolio-item>
        </div>
        <div class="col-1 d-flex align-items-center">
          <div class="text-center w-100">
            <a class="fa fa-trash text-danger p-2" (click)="deletePortfolioItem(item.id)"></a>
            <a class="fa fa-pencil text-success p-2" (click)="editItem(item.id)"></a>
            <a class="fa fa-caret-up text-primary p-2" (click)="moveItemUp(item.id)"></a>
            <a class="fa fa-caret-down text-primary p-2" (click)="moveItemDown(item.id)"></a>
          </div>
        </div>      
      </div>
    </li>
    <app-portfolio-item-editor [(portfolioItem)]="item" [images]="images" [buttons]="editPortfolioItemButtons" *ngIf="getEditingItem(item.id)"></app-portfolio-item-editor>
  </div>
</ul>

<ul class="list-group mt-4">
  <li class="list-group-item">
    <app-portfolio-item [portfolioItem]="newPortfolioItem"></app-portfolio-item>
  </li>
  <app-portfolio-item-editor [(portfolioItem)]="newPortfolioItem" [images]="images" [buttons]="newPortfolioItemButtons"></app-portfolio-item-editor>
</ul>
