a:hover {
  text-decoration: none !important;
}

a {
  margin-bottom: 0;
}

ul {
  padding-top: 5px;
  padding-bottom: 5px;
}

.portfolio-card-img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  max-width: 90%;
  max-height: 200px;
}

.portfolio-card-img:hover {
  cursor: pointer;
}

.wide-screen {
  display: none !important;
  padding: 0;
}
.narrow-screen {
  display: block;
}

.v-center {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 95%;
  transform: translate(-50%, -50%);
}

.portfolio-bullets {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

@media screen and (min-width: 800px) {
  .wide-screen {
    display: -webkit-box !important;
    display: -moz-box !important;
    display: -ms-flexbox !important;
    display: -webkit-flex !important;
    display: flex !important;
    -webkit-box-orient: horizontal !important;
    -moz-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
    -moz-box-direction: normal !important;
    -webkit-flex-direction: row !important;
    -ms-flex-direction: row !important;
    flex-direction: row !important;
  }
  .narrow-screen {
    display: none;
  }
  .portfolio-bullets {
    width: 100%;
  }
  .portfolio-card-img {
    max-height: 100px;
  }
}